* {
  margin: 0;
  padding: 0;
}

body {
  background: #ddd;
  font-family:"Open Sans",sans-serif;
}

.container{
  display:flex;
  margin:50px;
}

/*Header*/

#sushi-header {
  position: relative;
  height: 200px;
  width: 100%;
  text-align: center;
  background: url("https://images.unsplash.com/photo-1540648639573-8c848de23f0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3224&q=80") no-repeat;
  background-size: cover;
}

#sushi-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.sushi-header__header {
  display:flex;
  position:relative;
  justify-content:center;
  font: 700 5em "Open Sans";
  text-transform: uppercase;
  color: #fff;
  line-height:190px;
}

/*Layout*/

h2 {
  font: 700 30px "Open Sans";
  margin-bottom:20px;
}

#sushi-menu {
  width: 55%;
  margin-right: 30px;
}

#cart-summary {
  width: 35%;
}


/* Sushi Gallery */

.card {
  display: flex;
  box-sizing: border-box;
  list-style-type: none;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom:10px;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card:hover {
  top: -5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
}

.pdt-total {
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: #fc0394;
  font: 700 20px "Open Sans";
  border-radius: 50%;
  padding: 20px;
}

.pdt-info {
  text-align:left;
}

.pdt-info h3 {
  font: 700 16px "Open Sans";
  text-transform: uppercase;
  margin-bottom: 6px;
}

img {
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*Cart Total*/
.cart-total {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

/* Media queries */
@media (max-width: 660px) {
  #gallery {
    grid-template-columns: repeat(1, 1fr);
    display: block;
    max-width: 300px;
  }
}
@media (max-width: 965px) {
  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 520px) {
  .sushi-header__header {
    font-size: 2em;
  }
}
